body {
  background-color: black;
}

h1 {
  color: white;
  text-align: center;
  margin: auto;
}

h2{
    color: white;
    text-align: center;
    margin: auto;
    font-family: cursive;
}
.image-container {
  margin: auto;
  margin-top: 100px;
  text-align: center;
}

img{
    border: 5px solid white;
}
