.headline{
  background-color: brown;
  display: inline;

  /* width and height doesn't work for inline (only works for inline block) */
}

.second{
  background-color: red;
  display: inline-block;
  width: 100px;
  height: 100px;
}    